body{
    background-color: aquamarine;
}
.red {
    color: red;
}
.green {
    color: green;
}
table {
    box-shadow: 10px, 5px,black;
    border: 2px solid blue;
    border-collapse: collapse;
}
th {
    border: 1px solid;
    width: 30px;
    height: 20px;
    border-spacing: 10px;
    text-align: center;
}
fieldset{
    width: 200px;
}