body{
    background-color: yellowgreen;
}
figcaption {
    background-color: yellowgreen;
    float: left;
    font: italic;
}
.a{
    box-shadow: red;
}
.b{
    box-shadow: green;
}
.c{
    box-shadow: blue;
}