body {
    background-color: greenyellow;
}
.lila{
    color: purple;
}
.red {
    color: red;
}
.orange {
    color: orange;
}
td {
    border: solid 1px;
}
table {
    box-shadow: 10px, 5px,black;
    border: 2px solid blue;
    border-collapse: collapse;
}
th {
    border: 1px solid;
    width: 30px;
    height: 20px;
    border-spacing: 10px;
    text-align: center;
}