body {
    background-color: greenyellow;
}
.lila{
    color: purple;
}
.red {
    color: red;
}
.orange {
    color: orange;
}
td {
    border: solid 1px;
    border-collapse: collapse;
}
table {
    box-shadow: 10px, 5px,black;
    border: 2px solid blue;
    border-collapse: collapse;
}
