body {
    background-color: greenyellow;
}
.red {
    color: red;
}
.blue {
    color: blue;
}
table {
    background-color: greenyellow;
    box-shadow: 10px, 5px,black;
    border: blue;
}
th {
    width: auto;
    height: auto;
    border-spacing: 10px;
    
}