body {
    background-color: greenyellow;
}
.red {
    color: red;
}
.blue {
    color: blue;
}
table {
    box-shadow: 10px, 5px,black;
    border: 2px solid blue;
}
th {
    width: 30px;
    height: 20px;
    padding: 5px;
    border-spacing: 10px;
}