body {
    background-color: greenyellow;
}
div {
    width:100px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    background-color: grey;
}
.a {
border-left: red;
}
.b{
border-left: yellow;
}
.c{
border-left: blue;
}
.d{
border-left: green;
}
