body {
    background-color: greenyellow;
}
div {
    width:150px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    background-color: grey;
}
.a {
border-left: 10px ridge red;
}
.b{
border-left: 10px ridge yellow;
}
.c{
border-left: 10px ridge blue;
}
.d{
border-left: 10px ridge green;
}
