*{
    background-color: rgb(239, 254, 221);
    }
    .a {
        background-color: rgb(122, 202, 65);
        margin: 40px;
        width: 150px;
        height: 80px;
    }
    .b {
        background-color: rgb(122, 202, 65);
        margin: 20px;
        width: 150px;
        height: 80px;
        padding: 20px;
    }
    .c {
        background-color: rgb(122, 202, 65);
        margin: 20px;
        width: 150px;
        height: 80px;
    } 